*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

a{
    text-decoration: none;
}

/* Header Styling */

.top-header{
    position: relative;
    padding: 28px 0px 34px 0px;
    width: 1110px;
    margin-inline:auto;
    border-bottom: 1px solid rgba(228, 233, 242, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-side{
    display: flex;
    gap: 56px;
    align-items: baseline;
}

.logo{
    color: #1D2026;
    cursor: pointer;
}

.nav-elements-container{
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-elements-container .nav-element{
    color: rgba(105, 112, 125, 1);
    font-size: 15px;
    line-height: 26px;
}

.header-right-side{
    display: flex;
    align-items: center;
    gap: 46px;
}

.header-right-side button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}


/* Main Page Product Styling */

.container{
    width: 1110px;
    margin-inline: auto;
    padding: 90px 48px;
}

.product-page{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product-col-3{
    width: 31%;
    border: 1px solid #FF7E1B;
    border-radius: 10px;
}

.product-col-3 a{
    display: inline-block;
    color: #1D2026;
    background-color: rgb(248,249,250);
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.product{
    background-color: #69707D;
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5031);
}

.image-container{
    position: relative;
    height: 300px;
}

.image-container img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.image-container .badge-sale{
    position: absolute;
    background-color: #FF7E1B;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.product-info-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.product-info-area .product-brand-description{
    font-weight: 700;
    color: rgba(29, 32, 38, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brand{
    color: #FF7E1B;
}

.badge-old-price{
    color: #B6BCC8;
    font-weight: 700;
    line-height: 26px;
    text-decoration: line-through;
    margin-right: 15px;
}

.badge-new-price{
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
}

.product-info-area .rating-container{
    display: flex;
    gap: 10px;
}

.product-info-area .ratings{
    display: flex;
}


/* Product Page Styling */

.product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 125px;
}

.product-left-side-container{
    width: 445px;
}

.big-image-container{
    width: 445px;
    height: 445px;
}

.big-image-container img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    border: 10px;
}

.small-image-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 31px;
    margin-top: 32px;
}

.small-image-container img{
    width: 88px;
    height: 88px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.small-image-container .current-image{
    border: 2px solid rgba(255, 126, 27, 1);
    opacity: .3;
}

.product-right-side-container{
    display: flex;
    flex-direction: column;
}

.product-right-side-container .brand{
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

.product-right-side-container .name{
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    color: rgba(29, 32, 38, 1);
    margin-top: 27px;
    margin-bottom: 32px;
}

.product-right-side-container .description{
    line-height: 26px;
    color: rgba(105, 112, 125, 1);
    margin-bottom: 24px;
}

.product-right-side-container .discount-rate{
    padding: 6px 8px;
    background-color: rgba(255, 238, 226, 1);
    border-radius: 10px;
    color: #FF7E1B;
    font-family: Kumbh Sans;
    font-weight: 700;
    line-height: 20px;
    margin-left: 16px;
}

.product-right-side-container .price-container{
    margin-bottom: 32px;
}

.product-right-side-container .add-card-container{
    display: flex;
    gap: 16px;
}

.product-right-side-container .big-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 77px;
    gap: 16px;
    border: none;
    background-color: #FF7E1B;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px rgba(255, 126, 27, 1);
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.product-right-side-container .quantity-container a{
    padding: 18px 16px;
    font-weight: 700;
    color: #FF7E1B;
}

.product-right-side-container .quantity-container{
    display: flex;
    align-items: center;
    background: rgba(246, 248, 253, 1);
    border-radius: 10px;
}

.product-right-side-container .quantity-content{
    width: 60px;
    text-align: center;
}

.fa-solid.fa-star{
    color: #FF7E1B;
}

/* Basket Result */

.basket-result{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    top: 0px;
    right: -25%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5031);
    width: 360px;
    border-radius: 8px;
    z-index: 999;
    transition: 1s;
}

.basket-result.show{
    right: 0;
}

.cart-header{
    display: flex;
    align-items: center;
    padding: 24px 0px 27px 24px;
    text-align: left;
    border-bottom: 1px solid rgba(228, 233, 242, 1);
}

.cart-header h3{
    font-size: 25px;
}

.close-offcanvas{
 margin-right: 30px;   
}

.cart-body{
    display: flex;
    padding: 24px;
    justify-content: space-between;
}

.cart-container{
    display: flex;
    gap: 16px;
}

.cart-infos{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cart-infos .thin-text{
    line-height: 26px;
    color: rgba(105, 112, 125, 1);
}

.cart-infos .bold-text{
    font-weight: 700;
    line-height: 26px;
    color: rgba(29, 32, 38, 1);
}

.delete-btn{
    padding: 20px;
}

.empty-cart{
    padding: 50px;
    text-align: center;
}

.message-box{
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.message{
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    padding: 20px;
}

/* Basket Product quantity */

.basket-btn{
    position: relative;
}

.basket-btn span{
    position: absolute;
    background-color: #FF7E1B;
    color: white;
    top: 5px;
    right: 6px;
    padding: 2px 8px 1px 8px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;

}

/* Modal Styling */

dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 8px;
    border: none;
    padding: 30px;
}

dialog::backdrop{
    background: rgb(0 0 0 / 25%);
}


dialog button{
    border: none;
    border-radius: 8px;
}

dialog #no{
    background-color: #67727e;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

dialog #yes{
    background-color: #ed6368;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

dialog h3,
dialog p{
    margin-bottom: 24px;
}